@keyframes gradient {
  0% {
    background: radial-gradient(50% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  3% {
    background: radial-gradient(49% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  6% {
    background: radial-gradient(48% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  9% {
    background: radial-gradient(47% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  12% {
    background: radial-gradient(46% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  15% {
    background: radial-gradient(45% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  18% {
    background: radial-gradient(44% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  21% {
    background: radial-gradient(42% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  24% {
    background: radial-gradient(41% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  27% {
    background: radial-gradient(40% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  30% {
    background: radial-gradient(39% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  33% {
    background: radial-gradient(38% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  36% {
    background: radial-gradient(37% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  39%, 49% {
    background: radial-gradient(36% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  50% {
    background: radial-gradient(35.13% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  53% {
    background: radial-gradient(36% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  56% {
    background: radial-gradient(37% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  59% {
    background: radial-gradient(39% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  62% {
    background: radial-gradient(40% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  65% {
    background: radial-gradient(41% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  68% {
    background: radial-gradient(42% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  71% {
    background: radial-gradient(43% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  68% {
    background: radial-gradient(44% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  71% {
    background: radial-gradient(45% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  72% {
    background: radial-gradient(46% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  75% {
    background: radial-gradient(47% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  78% {
    background: radial-gradient(48% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  81%, 99% {
    background: radial-gradient(49% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
  100% {
    background: radial-gradient(50% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  }
}

